<div ng-controller="projectsViewCtrl">
  <h1>Projects</h1>
  
  
  
  
  
  
  
  
  <table class="table">
	<tr>
	  <th>#</th>
	  <th>Name</th>
	  <th>Start</th>
	  <th>End</th>
	  <th>Notiz
	</tr>
	<tbody ng-repeat="p in projects">
	<tr ng-click="manageProject(p.id);">
	  <td>{{p.id}}</td>
	  <td>{{p.name}}</td>
	  <td>{{p.start}}</td>
	  <td>{{p.end}}</td>
	  <td>{{p.info}}</td>
	</tr>
	</tbody>
  </table>
  
  
</div>
<!--
  
"id": 1,
"name": "First try\r\n",
"start": "2016-2-15 09:00:00",
"end": "2016-3-8 09:00:00",
"info": "YYYY-MM-DD HH:MM:SS"


-->
