<div ng-controller="topnavCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top" style=""role="navigation" bs-navbar>
	<div class="navbar-header">
	  <a class="navbar-brand" href="#/">Home</a>
	</div>
	<ul class="nav navbar-nav">
	  <li data-match-route="/events.*" bs-dropdown="menuEvents">
		<a href="#/events"><b><big>Events</big></b></a>
	  </li>
	  <li data-match-route="/bookings.*" bs-dropdown="menuBookings">
		<a href="#/bookings"><b><big>Bookings</big></b></a>
	  </li>
	  <li data-match-route="/articles.*" bs-dropdown="menuArticles">
		<a href="#/articles"><b><big>Articles</big></b></a>
	  </li>
	  <li bs-dropdown="create">
		<a href="" target="blank" >New</a>
	  </li>
	  <li bs-dropdown="admin">
		<a href="" target="blank" >Admin</a>
	  </li>
	</ul>
  </nav>
</div>

