<div ng-controller="manageProjectCtrl as vm">
  <h1>Manage Projects</h1>
  <div class=""><div>
	  <formly-form model="vm.user" fields="vm.userFields">
		<button type="submit" class="btn btn-default" ng-click="vm.submit(vm.user)">Submit</button>
	  </formly-form>
	</div></div>
</div>

<!--
  /*
|      |   [id] = Number(1) 1
|      |   [name] = String(11) "First try
"
|      |   [start] = String(18) "2016-2-15 09:00:00"
|      |   [end] = String(17) "2016-3-8 09:00:00"
|      |   [info] = String(19) "YYYY-MM-DD HH:MM:SS"
*/
-->
